# Python
**/.venv/
.venv/
**/__pycache__/
__pycache__/
*.py[cod]
.pytest_cache/
*.db

# Secrets
.env
**/.env
!.env.example
**/.env.example

# Frontend
node_modules/
.next/
dist/
build/

# Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db